@tailwind base;
@tailwind components;
@tailwind utilities;

[data-direction="ltr"] {
  * {
    direction: ltr;
  }
  .children-x-1 > * {
    margin-right: 0.25rem;
  }
  .children-x-2 > * {
    margin-right: 0.5rem;
  }
  .children-x-4 > * {
    margin-right: 1rem;
  }
}
[data-direction="rtl"] {
  * {
    direction: rtl;
  }
  .children-x-1 > * {
    margin-left: 0.25rem;
  }
  .children-x-2 > * {
    margin-left: 0.5rem;
  }
  .children-x-4 > * {
    margin-left: 1rem;
  }
}

/**
 * base styles
 */
h1 {
  @apply text-5xl;
}
h2 {
  @apply text-4xl;
}
h3 {
  @apply text-3xl;
}
h4 {
  @apply text-2xl;
}
h5 {
  @apply text-xl;
}
h6 {
  @apply text-lg;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-poppins;
}

code {
  @apply font-mono p-1 inline rounded font-bold;
}
pre {
  @apply font-mono p-2 block rounded font-bold;
}

html {
  @apply font-sans;
}

body {
  @apply font-sans antialiased text-sm;
}

.w-96 {
  width: 24rem;
}

.link {
  @apply text-blue-600;
}

.raised {
  @apply shadow;
}

/**
 * hide scrollbars
 */
// ::-webkit-scrollbar {
//   display: none;
//   width: 0 !important;
// }
.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

/**
 * required to avoid flexbox issues in nextjs apps
 */
#__next {
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  position: relative;
}

.homepage {
  [data-direction="ltr"] & {
    .homepage-navbar-actions {
      @apply ml-auto;
    }
  }
  [data-direction="rtl"] & {
    .homepage-navbar-actions {
      @apply mr-auto;
    }
  }
}

/* Example Styles for React Tags*/
#app {
  padding: 40px;
}

div.ReactTags__tags {
  position: relative;
}

/* Styles for the input */
div.ReactTags__tagInput {
  width: 100%;
  border-radius: 10px;
  display: inline-block;
}
div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
  height: 31px;
  margin: 0;
  font-size: 12px;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0 4px;
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
  border: 1px solid #ddd;
  background: #eee;
  font-size: 12px;
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  cursor: move;
  border-radius: 2px;
}
div.ReactTags__selected a.ReactTags__remove {
  color: #aaa;
  margin-left: 5px;
  cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
  position: absolute;
}
div.ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
  background: white;
  width: 200px;
}
div.ReactTags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
}
div.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}
div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  background: #b7cfe0;
  cursor: pointer;
}

// react datepicker
.react-datepicker-wrapper,
.react-datepicker__input-container {
  display: block;
  width: 50%;
  border: black 1px solid;
  *:focus {
    outline: none;
  }
}

.ck.ck-content ul,
.ck.ck-content ul li {
  list-style-type: inherit;
}
.ck.ck-content ul,
.ck.ck-content ol {
  /* Default user agent stylesheet. */
  padding-left: 40px;
}

.ck.ck-content ol,
.ck.ck-content ol li {
  list-style-type: decimal;
}
